header{
    /*图片的整体高度为147px*/
    height:147px;
    /*默认宽度为父元素及body元素的宽度*/
    background:url(./../img/background1.jpg) no-repeat fixed;
}
header>img{
    /*调整图片的高度*/
    height:117px;
    position:absolute;
    /*147-117=30/2=15 居中显示*/
    top:15px;
    left:320px;
}
h1{
    text-align:center;
    font-family:'蔡云汉清悠书法字体';
    font-size:60px;
    position: absolute;
    top:35px;
    left:620px;
}
/* //顶部结束
//留言区域开始 */
#liuyanbgc{
    width:100%;
    background: rgb(247,247,247);
}
#liuyan{
    width:70%;
    height:400px;
    /* border:1px solid red; */
    position: relative;
    left:15%;
    /* margin-top:20px; */
    padding-top:20px;
  
}
#liuyanbanner{
    position: relative;
}
#liuyanbanner label{
    font-size:16px;
    color:grey;
}
#liuyanbanner p{
    font-size:12px;
    color:grey;
}

#liuyanbanner input{
    width:200px;
    height:30px;
    outline:none;
}
#liuyanbanner div{
    margin-left:30px;
    margin-top:20px;
}
form div input{
    padding-left: 10px;
    margin-left:10px;
}
#content{
   position: absolute;
   top:60px;
   left:-50px;
}
.mail{
    position: absolute;
    top:16px;
    left:300px;
}
.tel{
    position: absolute;
    top:70px;
    left:-33px;
}
.content{
    position: absolute;
    top:137px;
    left:46px;
}
#liuyanbanner .btn{
    height:40px;
    position: absolute;
    top:320px;
    left:75px;
    background-color: red;
    border:none;
    outline:none;
    color:white;
}
#introduction{
    width:500px;
    height:350px;
    /* border:1px solid red; */
    position: relative;
    top:-70px;
    left:650px;

}
#introduction p{
    font-size:12px;
    color:grey;
}
#introduction div{
    font-size:16px;
    margin-top:20px;
    text-indent: 4px;
    font-family:'蔡云汉清悠书法字体';
}
/* //留言板结束 底部开始 */
#footerbgc{
    /*margin-top:20px;*/
    width:100%;
    position:relative;
    top:0px;
    height:200px;
    background:rgb(222,222,222);
    /*overflow:hidden;*/
}
#footer{
    position: relative;
    width:80%;
    height:200px;
    /*border:1px solid yellow;*/
    margin:0 auto;
    /*overflow:hidden;*/
}
.footer1,.footer2,.footer3{
    float:left;
}
.footer1{
    width:33%;
    height:200px;
    background: url(./../img/footer1.webp);
    position: relative;
}
.footer2{
    width:33%;
    height:200px;
    background: url(./../img/footer2.png);
    position: relative;
}
.footer3{
    width:33%;
    height:200px;
    background: url(./../img/footer3.webp);
    position: relative;
}
.footer1 img,.footer2 img,.footer3 img{
    position: absolute;
    top:60px;
    left:150px;
}
#footer{
    color:white;
}
.footer a{
    font-size:16px;
    position:absolute;
    top:130px;
    left:145px;
    color:white;
}
.footer p{
    position:absolute;
    top:160px;
    left:100px;
}